.lebar {
    width: 20%;
    padding: 2px;
    
}

.textLebar {
    width: 20%;
}

table, th , td {
    border: 2px solid black;
    margin-top: 100px;
    background-color: #EEF5FF
}

h1 {
    background-color: #86C656;
    border: 3px solid black;
    margin-right: 80%;
    color: #000;
}

.fitting-image {
    margin-left: 20px;
    margin-right: 20px;
    width: 20px;
    }






